$font-stack: Poppins, sans-serif;
$font-stack-sub: DM Sans, sans-serif;
$mid-blue: #219EBC;
$mid-yellow: #FFB703;
$light-blue: #8ECAE6;
$dark-blue: #04496A;
$dark-yellow: #FB8500;
$light-yellow: #F3CB69;
$text: #393737;


.headContainer {
    width: 100%;
    
    .backBtn {
        border: none;
        border-radius: 50%;
        background-color: $light-blue;
        padding: 0.2em;
        
        .backIcon{
            color: white;
            width: 100%;
            height: 100%;
        }
    }
}

.fieldLabel, .educFieldLabel, .employFieldLabel {
    color: #909090;
    font-weight: 400;
}

.userInput, .educUserInput, .employUserInput, .personalSelectBox, .educSelectBox, .employSelectBox, .houseSelectBox {
    color: $text;
    font-size: auto;
}
    
.educSelectBox:disabled, .employSelectBox:disabled, .educUserInput:disabled, .employUserInput:disabled {
    color: #cccccc;
}

.required:after {
    content:" *";
    color: red;
}

.markerDivUpdate {
    height: 2em;
    background-color: #F1A400;
}

.markerText{
        color: white;
        font-size: 20px;
        margin-left: 10px;
    }

.statusCheck {
    width: 20px;
    height: 20px;
    border: none;
    margin-left: 0;
    margin-right: 5px;
}

.modalAlert {
    font-size: 18px;
    font-weight: 500;
    color: $text;
}

.content::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
}
  
.content::-webkit-scrollbar-track {
    background: none;        /* color of the tracking area */
}
  
.content::-webkit-scrollbar-thumb {
    background-color: #c9c9c9;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #c9c9c9;  /* creates padding around scroll thumb */
    z-index: -60;
}


