@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");
@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,500;1,700&display=swap");
}

@font-face {
  font-family: "DM Sans";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,500;1,700&display=swap");
}

* h1 {
  font-family: "Poppins";
}

* p {
  font-family: "DM Sans";
}

.sidenav {
  background-color: #04496A;
}

.top-panel {
  padding: 3em 0em 0em 0em;
  margin-left: -5em;
}

.top-panel h1 {
  font-size: 3em;
  color: #393737;
  font-weight: 600;
}

.top-panel button {
  background-color: #8ECAE6;
  border: none;
}

.top-panel button:hover {
  background-color: #219EBC;
}

.top-panel .gradient-line {
  padding-top: 1.5em;
  margin-left: -10em;
  display: flex;
  justify-content: flex-start;
  position: fixed;
}

.sort-panel {
  display: flex;
  position: relative;
  float: right;
  margin-right: 11em;
  margin-top: 4em;
}

.sort-panel .sort-title {
  display: flex;
  justify-content: flex-end;
  margin-right: -5em;
  padding-top: 0.25em;
}

.sort-panel .select {
  width: 9em;
  height: 2em;
  padding-left: 0.5em;
  border: none;
  color: #272727;
  background-color: #e1e1e1;
  border: #c8c8c8;
  border-radius: 0.5em;
  font-family: "DM Sans";
}

.sort-panel .select:focus {
  outline: none;
  border: 1px solid #c8c8c8;
}

.heading {
  margin-left: 20px;
  font-family: "Poppins";
}

.tbl-section {
  padding-top: 5em;
  width: 100%;
}

hr {
  padding-top: 10em;
  width: 15%;
  color: #fff;
  background: #8ecae6;
  background: linear-gradient(to right, #8ecae6, #ffb703);
  border: 5px;
  padding: 3px;
  opacity: 0.75;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-right: 5em;
}

thead {
  color: #fff;
  background-color: #219ebc;
}

#row-title {
  text-align: center;
}

#action-col {
  margin-left: 80px;
}

#transac-table {
  /*margin-right: 10px;*/
}

@media only screen and (max-width: 1200px) {
  .sidenav {
    display: none;
  }
  .content {
    margin-left: 2em;
    padding: 2em;
  }
  .backBtn {
    width: 100%;
  }
  .fieldLabel {
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .sort-panel {
    margin-right: 8em;
  }
}

@media only screen and (max-width: 768px) {
  .top-panel {
    margin-left: 0em;
  }
  .top-panel h1 {
    width: 10em;
  }
  .top-panel .gradient-line {
    padding-top: 1.5em;
    margin-left: -7em;
    display: flex;
    justify-content: flex-start;
    position: fixed;
  }
  .sort-panel {
    margin-right: 5em;
  }
}

@media only screen and (max-width: 576px) {
  .top-panel {
    margin-left: 0em;
  }
  .top-panel .dashboard-title h1 {
    font-size: 2em;
  }
  .top-panel button {
    float: left;
  }
  .top-panel .gradient-line {
    display: none;
    padding-top: 2em;
    margin-left: -8em;
    display: flex;
    justify-content: flex-start;
    position: fixed;
  }
  .sort-panel {
    margin-top: 6em;
    margin-left: 3em;
  }
}

@media only screen and (max-width: 540px) {
  .top-panel .gradient-line {
    display: none;
    padding-top: 2em;
    margin-left: -3.5em;
    display: flex;
    justify-content: flex-start;
    position: fixed;
  }
  .sort-panel {
    margin-top: 6em;
    margin-left: 3em;
    float: left;
  }
}
/*# sourceMappingURL=dashboardYouthTbl.css.map */