@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");
@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,500;1,700&display=swap");
}

@font-face {
  font-family: "DM Sans";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,500;1,700&display=swap");
}

* a {
  text-decoration: none;
}

* h1 {
  font-family: "Poppins";
}

* p {
  font-family: "DM Sans";
}

.dashboard-title {
  padding: 3em 0em 0em 8em;
}

.dashboard-title h1 {
  font-size: 50px;
  color: #393737;
  font-weight: 600;
}

.gradient-line {
  padding-top: 1em;
}

#dashboard-summary {
  padding: 1em 7em 0em 8em;
}

#dashboard-summary div {
  border-radius: 1em;
}

#dashboard-summary #texts {
  padding-top: 1.5rem;
  width: 0%;
  z-index: 10;
}

#dashboard-summary #texts h1 {
  color: #fff;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 4rem;
  font-weight: 500;
}

#dashboard-summary #texts p {
  color: #fff;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: -.5em;
  font-size: 1.5rem;
  width: 15em;
  z-index: 10;
}

#dashboard-summary .dashboard-img {
  padding: 8em 0em 0em 0em;
}

#dashboard-summary .category {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 257px;
  width: 100%;
}

#dashboard-summary #row1 {
  padding-top: 3em;
}

#dashboard-summary #row1 #total-youth {
  background-color: #8ECAE6;
  padding-right: 1em;
}

#dashboard-summary #row1 #total-youth .total-youth-img {
  padding-left: -3em;
}

#dashboard-summary #row1 #enrolled-youth {
  background-color: #219EBC;
}

#dashboard-summary #row1 #enrolled-youth .dashboard-img {
  padding: 5.5em 1em 0em 0em;
}

#dashboard-summary #row1 #out-of-school-youth {
  background-color: #04496A;
}

#dashboard-summary #row1 #out-of-school-youth .dashboard-img {
  padding: 6em 2em 0em 0em;
}

#dashboard-summary #row1 #working-student {
  background-color: #E9C46A;
}

#dashboard-summary #row1 #working-student .dashboard-img {
  padding: 6.9em 1em 0em 0em;
}

#dashboard-summary #row1 #employed {
  background-color: #FFB703;
}

#dashboard-summary #row1 #employed .dashboard-img {
  padding: 8.5em 1em 0em 0em;
}

#dashboard-summary #row1 #unemployed {
  background-color: #FB8500;
}

#dashboard-summary #row1 #unemployed .dashboard-img {
  padding: 4.5em 1em 0em 0em;
}

#dashboard-summary #row1 #registered-voters {
  background-color: #8ECAE6;
}

#dashboard-summary #row1 #registered-voters .dashboard-img {
  padding: 7.5em 1em 0em 0em;
}

#dashboard-summary #row1 #unregistered-voters {
  background-color: #219EBC;
}

#dashboard-summary #row1 #unregistered-voters .dashboard-img {
  padding: 8.5em 1.25em 0em 0em;
}

#dashboard-summary #row1 #pwd {
  background-color: #04496A;
}

#dashboard-summary #row1 #pwd .dashboard-img {
  padding: 5.75em 0em 0em 0em;
}

@media only screen and (max-width: 1208px) {
  .sidenav {
    display: none;
  }
  .dashboard-title {
    padding: 2em 0em 0em 0em;
  }
  #dashboard-summary {
    padding: 0em 3em 0em 0em;
  }
}

@media (max-width: 992px) {
  #dashboard-summary #texts p {
    font-size: 1.15rem;
  }
}

@media only screen and (max-width: 768px) {
  .dashboard-title {
    padding: 1.5em 0em 0em -1em;
  }
  #dashboard-summary {
    padding: 0em 1em 0em -1em;
  }
  #dashboard-summary #texts p {
    font-size: 1.5rem;
    width: 15em;
  }
}

@media only screen and (max-width: 576px) {
  .dashboard-title {
    padding: 1.5em 0em 0em -1em;
    margin-left: -3em;
  }
  .dashboard-title h1 {
    font-size: 2em;
  }
  .gradient-line {
    width: 10em;
  }
  #dashboard-summary {
    padding-left: 0em;
    margin: -3em;
  }
  #dashboard-summary #dashboard-img {
    display: none;
  }
  #dashboard-summary #texts h1 {
    font-size: 3rem;
  }
  #dashboard-summary #texts p {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 360px) {
  .dashboard-title {
    padding: 1.5em 0em 0em -1em;
    margin-left: -3em;
  }
  .dashboard-title h1 {
    font-size: 2em;
  }
  #dashboard-summary .dashboard-img {
    display: none;
  }
  #dashboard-summary .category {
    height: 180px;
  }
}
/*# sourceMappingURL=dashboard.css.map */