$font-stack: Poppins, sans-serif;
$font-stack-sub: DM Sans, sans-serif;
$mid-blue: #219EBC;
$mid-yellow: #FFB703;
$light-blue: #8ECAE6;
$dark-blue: #04496A;
$dark-yellow: #FB8500;
$light-yellow: #F3CB69;
$text: #393737;

*{
    font: 100% $font-stack-sub;
}
.documentHeadingRow {
    width: 100%;
    margin: 0;
}

//Small Nav
.divNav {
    background-color: $mid-blue;
    border-radius: 15em;
    height: 3em;
    width: 90%;
    border: none;
    padding: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    white-space: nowrap;
    // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    z-index: 1;

    .menuTitle{
        width: 100%;
        height: 100%;
        font-size: 1.2em;
        color: white;
        padding: auto;
        border-radius: 15em;
        margin: 0 5px;
        position: relative;
        cursor: pointer;
        z-index: 1;
        transition: all 0.3s ease;
    }
}

.slider {
    position: absolute;
    margin: 2px;
    height: 90%;
    width: 50%;
    top: 0;
    left: 0.5%;
    background-color: white;
    border-radius: 15em;
    transition: all 0.4s cubic-bezier(0, 0.36, 0.03, 1);
}

#families:checked ~ div label.record {
    color: $mid-blue;
    font-weight: 900;
}

.familiesBody, .overviewBody {
    margin: 3em;
}


#overview:checked ~ div label.report {
    color: $mid-blue;
    font-weight: 900;
}
#overview:checked ~ div .slider {
    left:49%;
}


.content::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
}
  
.content::-webkit-scrollbar-track {
    background: none;        /* color of the tracking area */
}
  
.content::-webkit-scrollbar-thumb {
    background-color: #c9c9c9;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #c9c9c9;  /* creates padding around scroll thumb */
    z-index: -60;
}


