$font-stack: Poppins, sans-serif;
$font-stack-sub: DM Sans, sans-serif;
$mid-blue: #219EBC;
$mid-yellow: #FFB703;
$light-blue: #8ECAE6;
$dark-blue: #04496A;
$dark-yellow: #FB8500;
$light-yellow: #F3CB69;
$text: #393737;

// .stretched-link::after{
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     z-index: 1;
//     pointer-events: auto;
//     content: "";
//     background-color: rgba(0,0,0,0);
// }


//--DOCUMENTS

.content {
    // margin: 4em;
}
.documentHeadingRow {
    width: 100%;
    margin: 0;
}

//Small Nav
.divNav {
    background-color: $mid-blue;
    border-radius: 15em 0 0 15em;
    height: auto;
    width: 90%;
    border: none;
    
    .linkContainer{
        height: inherit;
        padding: 0.5em;
        width: 50%;
        height: 98%;
        overflow: hidden;
        border-radius: 15em;
        // background-color: white;
        
        .optionLink {
            font: 100% $font-stack-sub;
            text-decoration: none;
            color: white;
            font-weight: normal;
        }
    }
}
.qrBtn {
    border: none;
    border-radius: 0 15em 15em 0;
    width: 10%;
    padding: 5px;
    height: inherit;
    background-color: $dark-blue; 
        
    .qrIcon{
        width: 100%;
        heigt: 100%;
        color: white;
    }
}

.documentBody  {
    padding: 0;
    margin: 2em 0;
    
    .subTitle {
        font: 100% $font-stack-sub;
        font-size: 1.5em;
        color: $text;
        font-weight: 500;
    }
    
    .categoryCheck {
        font-size: 1.3em;
    }
    
    .userInput {
        width: 95%;
    }
}

.previewContainer{
    width: 80%;
    height: auto;
    border-radius: 1em;
    border: none;
}

.controlButtons {
    width: 6em;
} 

.fieldLabel {
font: $font-stack;
color: #909090;
margin-bottom: 0.2em;;
font-weight: 500;
}

.userInput {
height: 2.5em;
}

.idFilter {
    width: 30%;
}



