$font-stack: DM Sans, sans serif;
$mid-blue: #219EBC;
$mid-yellow: #FFB703;
$light-blue: #8ECAE6;
$dark-blue: #04496A;
$dark-yellow: #FB8500;
$light-yellow: #F3CB69;
$text: #393737;

// #leftPanel {
//   background-color: $dark-blue;
// }

// #content {
//   padding: 4em;
//   background-color: var(--bs-white);
    
//     #title {
//     color: $text;
//     font: 100% $font-stack;
//     font-weight: 800;
//     font-size: 2em;
//     }
// }

// .stretched-link::after{
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     z-index: 1;
//     pointer-events: auto;
//     content: "";
//     background-color: rgba(0,0,0,0);
// }
//--DASHBOARD
// .categories {
//     height: 13em;
//     overflow: hidden;
//     border-radius: 1em;
//     transition: all .2s ease-in-out;
    
//     .categoryBody {
//     padding-right: 0;
//     }
    
//     .categoryCount, .categoryDesc {
//     font: 100% $font-stack;
//     color: white;
//     }
    
//     .card-title {
//     font-size: 2em;
//     font-weight: 600;
//     }
// }

// .categories:hover {
//   transform: scale(1.05);
// }


// #categoryRow1 {
//     width: 100%;
//     margin: 0;
    
//     #categoryHouseholds {
//     background-color: $light-blue;
//     }

//     #categoryPwd {
//         background-color: $mid-blue;
//     }

//     #categorySenior {
//         background-color: $dark-blue;
//     }

//     #categoryAdult {
//         background-color: $light-yellow;
//     }

//     #categoryYouth {
//         background-color: $mid-yellow;
//     }

//     #categoryChildren {
//         background-color: $dark-yellow;
//     }
// }

//--DOCUMENTS

.content {
    padding: 4em;
    margin-left: 15em;
    height: auto;
}

.documentHeadingRow {
    width: 100%;
    margin: 0;
    
    .optionCol{
        margin: auto;
        padding: 0;
    }
}

.optionWrapper {
    display: block;
    width: 100%;
    height: 3em;
    background-color: $mid-blue;
    border-radius: 15em;
    z-index: 1
}
.options {
    width: 100%;
    min-width: 4.25em;
    font-size: 1em;
    display: inline-block;
    cursor: pointer;
    position: relative;
    z-index: 5;
    border: none;
    transition: 0.3s;
    border-radius: 15em;
    color: white;
}

.qrScannerBtn{
    position: relative;
    border: none;
    padding: 0.5em 1em;;
    background: $dark-blue;
    border-radius: 0 15em 15em 0;
    
    .qrIcon {
        width: 100%;
        height: 100%;
        color: white;
    }
}

.qrScannerBtn:hover{
    background: black;
}

.qrScannerBtn:focus, .qrScannerBtn:focus > .qrIcon {
    background: black;
    color: $mid-yellow;
}

.slider {
    display: flex;
    position: absolute;
    margin: 0.25em;
    background: white;
    height: 2em;
    font-size: 1.2rem;
    width: 17%;
    border-radius: inherit;
    min-width: 4.25em;
    transition: 0.3s;
    z-index: 3;
}

.options:active{
    color: $mid-blue;
    font-weight: bold;
}

.options:nth-child(1).active ~ .slider {
    transform: translateX(0);
}

.options:nth-child(2).active ~ .slider {
    transform: translateX(100%);
}

.options:nth-child(1):hover ~ .slider {
    transform: translateX(0%);
}

.options:nth-child(2):hover ~ .slider {
    transform: translateX(100%);
}

//documentpage  contents
.generateBody {
    padding: 0;
    margin: 2em 0;
    
    
    .docDetails {
        width: 100%;
        height: 100%;
        
        .subTitle {
            font: 100% $font-stack;
            font-size: 1.2em;
            font-weight: 600;
            color: $text;
        }
        
        .controlButtons {
            width: 6em;
        }
        
    }
    .docPreview {
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: pink;
    }
}

.fieldLabel {
font: $font-stack;
color: #707070;
margin-bottom: 0.2em;;
font-weight: 500;
}

.userInput {
height: 2.5em;
width: 100%;
}

.idFilter {
    width: 30%;
}

// @media only screen and (min-width: 360px) and (max-width: 768px) {
//     .content {
//         margin: 0;
//         padding: 0;
//     }
//     .col-form-label {
//         white-space: nowrap; 
//         width: 90%; 
//         overflow: hidden;
//         text-overflow: ellipsis; 
//     }
// }



