$font-stack: Poppins, sans-serif;
$font-stack-sub: DM Sans, sans-serif;
$mid-blue: #219EBC;
$mid-yellow: #FFB703;
$light-blue: #8ECAE6;
$dark-blue: #04496A;
$dark-yellow: #FB8500;
$light-yellow: #F3CB69;
$text: #393737;

*{
    font: 100% $font-stack-sub;
}

#familiesBody, .overviewBody {
    margin: 3em;
}

#overviewBody {
    .overviewDiv    {
        #overviewChart {
            max-height: 90vh;
            max-width: 1000vw;
        }
    }
}

#familiesTbl_length {
    width: auto;
}

.content::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
}
  
.content::-webkit-scrollbar-track {
    background: none;        /* color of the tracking area */
}
  
.content::-webkit-scrollbar-thumb {
    background-color: #c9c9c9;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #c9c9c9;  /* creates padding around scroll thumb */
    z-index: -60;
}


