$font-stack: DM Sans, sans serif;
$primary-color: #04496A;
$secondary-color:#FFB703;
$true-blue:#219EBC;
$sky-blue:#8ECAE6;
$tangerine:#FB8500;
$mellow-yellow:#E9C46A;

*{
    box-sizing: border-box;
    p{
        font:$font-stack;
    }

    a{
        text-decoration: none;
    }
}

#left-panel{
    margin-left:6em;
    
    #kkis-logo {
      height: 60px;
      margin: 1em 0em 1em 0em;
    }
    
    #title{
        margin-top: -2em;

        h1{
            font-weight: bold;
            font-size: 4rem;
            color:$tangerine;
            margin-top:2em;

        }
        #line-gradient{
            width:20%;
            margin-top: 2em;
        }
    }

    #form-panel{
        margin-top:5em;
        
        input{
            background-color: #EBEBEB;
            border: none;
            -webkit-box-shadow:inset 0 0 5px #C6C6C6;
            -moz-box-shadow:inset 0 0 5px #C6C6C6;
            box-shadow:inset 0 0 5px #C6C6C6;
            margin-bottom: 2em;
        }
        
        p{
            color: #4D5A4D;
            text-align: left;
            font-size: 1.5rem;
        }
        
        #login-btn{
            margin-top:6em;
            
            button{
                background-color:$secondary-color;
                font-weight:bold;
                font:$font-stack;
                height: 3em;
                border-radius:1.5em;
                border: none;
                border-color: transparent;

                a{
                    color: #fff;
                    font-size: 1.25rem;
                }
            }
        }
    }
}


.side-img{
    padding: 0em;
    margin-left: -50em;

    #side-panel{
        width:100%;
        padding:0em 0em 0em 0em;
        //width: max-content;
        //height: 100%;
        margin-left: -30px;
        //float:right;
        height: 910px;
    --bs-gutter-x: 0rem;
    
    }
}

@media (max-width:1200px) {
    #left-panel{
        #title{
            margin-top:-3em;
                #line-gradient{
                width:50%;
            }
        }
        #form-panel{
            #username{
                margin-bottom:1em;
            }
            
            #div-btn{
                margin-top:3em;
            }
        }
    }
}

@media (max-width:992px) {
    #left-panel{
        #title{
            margin-top:-3em;
                #line-gradient{
                width:50%;
            }
        }
        #form-panel{
            #div-btn{
                margin-top:3em;
            }
        }
    }
}

@media (max-width: 768px){
    #left-panel{
        margin-left:1.5em;

        #form-panel{
            input{
                margin-left: 2em;
            }
        }
    }
}

@media (max-width: 576px){
    #side-panel{
        display:none;
    }
    #left-panel{
        margin-left:1.5em;
        
        #kkis-logo {
          height: 50px;
          margin: 1em 0em 1em 0em;
        }
        
        #title{
            margin-top:-2em;
        }
        #form-panel{
            margin-top:2em;
            
             input{
                background-color: #EBEBEB;
                border: none;
                -webkit-box-shadow:inset 0 0 5px #C6C6C6;
                -moz-box-shadow:inset 0 0 5px #C6C6C6;
                box-shadow:inset 0 0 5px #C6C6C6;
                width:100%;
                height:2em;
            }
            
            p{
                color: #4D5A4D;
                text-align: left;
                font-size:15px;
            }
            
            #login-btn{
                margin-top:1em;

                button{
                    font:$font-stack;
                    height: 2.5em;
                    border-radius:1.25em;
                }
            }
        }
    }
}

@media (max-width: 360px){
    #side-panel{
        display:none;
    }
    
    #left-panel{
        margin-left:1em;
        
        #kkis-logo {
          height: 40px;
          margin: .5em 0em .5em 0em;
        }
        
        #title{
            margin-top:-2em;

                h1{
                    font-size: 30px;
                }
                #line-gradient{
                width:50%;
            }
        }
        #form-panel{
            margin-top:2em;
            
             input{
                background-color: #EBEBEB;
                border: none;
                -webkit-box-shadow:inset 0 0 5px #C6C6C6;
                -moz-box-shadow:inset 0 0 5px #C6C6C6;
                box-shadow:inset 0 0 5px #C6C6C6;
                width:100%;
                height:2em;
                margin-left: 2em;
            }
            
            p{
                color: #4D5A4D;
                text-align: left;
                font-size:15px;
                width:10em;
                margin-right:4em;
            }
            
            #login-btn{
                margin-top:-1em;
                width:6em;

                button{
                    font:$font-stack;
                    height: 2em;
                    border-radius:1.25em;
                }
            }
        }
    }
}