$headings-font: Poppins, sans-serif;
$content-font: DM Sans, sans-serif;
$mid-blue: #219EBC;
$mid-yellow: #FFB703;
$light-blue: #8ECAE6;
$disabled-blue: #b0def3;
// $dark-blue: #04496A;
$dark-blue: #155675;
$dark-yellow: #FB8500;
$light-yellow: #F3CB69;
$text: #393737;
$tomato-orange: #F57441;
$fade-orange: #F4895F;

* {
    font: $content-font;
}

#scanBtn {
    background-color: $tomato-orange;

    #scanBtnTxt, #scanIcon {
        font-size: 1.2em;
        color: white;
        fill: white;
    }
}

#scanBtn:hover, #scanBtn:focus {
    background-color: white;
    border-color: $tomato-orange;

    #scanBtnTxt, #scanIcon {
        color: $tomato-orange;
        fill: $tomato-orange;
    }
}

#scanBtn:focus {
    background-color: #ffded0;
}

#scanIcon {
    display: none;
}

.kkidBody  {
    padding: 0;
    margin: 1em;
    margin-bottom: 1.5em;
    
    .subTitle {
        font-size: 1.5em;
        color: $text;
        font-weight: 500;
    }
    
    .categoryCol {
        margin: 0 auto;
        
        .categoryDiv{
            margin-left: 2em;
            
            .categoryLbl {
                font-size: 1em;
                margin-left: 1px;
                cursor: pointer;
            }
        }

        .categoryOption {
            width: 80%;
        }

        .customCategory {
            width: 72%;
        }
    }
}

input[type="checkbox"]{
    cursor: pointer;
}

.previewContainer{
    width: 90%;
    height: auto;
    border-radius: 20px;
    border: none;
    box-shadow: 0 3px 10px #a0a0a0;
}



.content::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
}
  
.content::-webkit-scrollbar-track {
    background: white;        /* color of the tracking area */
}
.content::-webkit-scrollbar-thumb {
    background-color: #c9c9c9;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #c9c9c9;  /* creates padding around scroll thumb */
}


