$font-stack: Poppins, sans-serif;
$font-stack-sub: DM Sans, sans-serif;
$mid-blue: #219EBC;
$mid-yellow: #FFB703;
$light-blue: #8ECAE6;
$dark-blue: #04496A;
$dark-yellow: #FB8500;
$light-yellow: #F3CB69;
$text: #393737;

.kkidHeadingRow {
    width: 100%;
    margin: 0;
}

//Small Nav
.qrBtnContainer {
    display: flex;
    margin: auto 0;
    
    .qrBtn {
        width: 9em;
        height: 3em;
        background-color: white;
        border-radius: 5em 0 0 5em;
        border: 2px solid $mid-blue;
        font-size: 1em;
        color: $text;
    }

    .iconContainer {
        background-color: $mid-blue;
        border-radius: 0 5em 5em 0;
        height: 3em;
        width: 3.5em;
        color: white;
        border: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
    }
}

.qrBtn:hover {
    background-color: $mid-blue;
    color: white;
}

.kkidBody  {
    padding: 0;
    margin: 1em;
    margin-bottom: 1.5em;
    
    .subTitle {
        font: 100% $font-stack-sub;
        font-size: 1.5em;
        color: $text;
        font-weight: 500;
    }
    
    .categoryCol {
        margin: 0 auto;
        
        .categoryDiv{
            margin-left: 2em;
            
            .categoryLbl {
                font-size: 1em;
                margin-left: 1px;
            }
        }

        .categoryOption {
            width: 80%;
        }

        .customCategory {
            padding: 0 2em;
            width: 90%;
        }

        .customForm{
            margin: 1em;
        }
    }
}

.previewContainer{
    width: 100%;
    height: auto;
    border-radius: 1.5em;
    border: none;
    box-shadow: -3px 3px 10px;
}

.controlBtn {
    margin-top: 1em;
    font-size: large;
    background-color: $light-blue;
    width: 6em;
    color: white;
}

#clearBtn {
    background-color: $light-yellow;
}

#clearBtn:disabled {
    background-color: white;
}

#submitBtn:hover {
    background-color: $mid-blue;
    border: none;
    color: white;
    font-weight: 500;
}

#clearBtn:hover {
    background-color: $mid-yellow;
    border: none;
    color: white;
    font-weight: 500;
}

body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #dcdcdc;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #808080;  /* creates padding around scroll thumb */
}


