$font-stack: Poppins, sans-serif;
$font-stack-sub: DM Sans, sans-serif;
$mid-blue: #219EBC;
$mid-yellow: #FFB703;
$light-blue: #8ECAE6;
$disabled-blue: #b0def3;
$dark-blue: #04496A;
$dark-yellow: #FB8500;
$light-yellow: #F3CB69;
$text: #393737;



.title {
    font: 100% $font-stack;
}

* {
    font: 100% $font-stack-sub;
}

@media only screen and (min-width: 200px) and (max-width: 7680px){

    .title {
        width: 100%;
        height: 100%;
        color: $text;
        font-weight: 800;
    }
    
    #titleUpdateEntry, #titleResiProf {
        // margin: auto;
        margin-left: 0.3em;
  
    }

    //Add, Update, Declared Households
    .fieldLabel, .educFieldLabel, .employFieldLabel, .menuTitle{
        white-space: nowrap; 
        width: 80%; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .sectionDiv {
        margin-top: 1em;
    }
    
    .divNav {
        width: 100%;
    }

}

@media screen and (min-width:769px) and (max-width:7680px){

    #wrapper {
        padding-top: 1em;
        // padding-left: 5em;
    }

    .content{
        margin: 3em 4em 2em 10em;
        padding-left: 1em;
    }
    
    .title {
        font-size: 2.5em;
    }
    
    //Add and Update Entry
    .eStatus{
        margin-top: 1em;
        padding: 0;
        //Add, Update
        #markerEduc, #markerEmploy, #markerEducUpdate, #markerEmployUpdate {
            width: 99%;
        }
        //Add, Update
        #markerEmploy, #markerEmployUpdate {
            margin-left: 1%;
        }
        //Add, Update
        .eForm{
            width: 99%;
        }
    }
    
    //Update Entry
    .backBtn {
        width: 3em;
        height: 3em;
    }
    
    //Declared Household
    .familiesBody, .overviewBody {
        margin-top: 5em;
    }
}

@media screen and (max-width: 768px) {

    #wrapper {
        padding-top: 1em;
        padding-left: 3em;
    }

    .content{
        margin: 0 0 0 0;
        padding: 2.5em;
        //Add, Update
        .title {
            font-size: 1.5em;
        }
        //Update
        .backBtn {
            width: 1.5em;
            height: 1.5em;
        }
        //Add, Update
        .eStatus {
            padding: 0;
            margin-top: 1em;
        }
        //Add, Update
        .markerText, .subTitle{
            font-size: 1.3em;
        }
    }  

}



@media screen and (max-width: 500px) {          //tablet

    #wrapper {
        padding-left: 0;
    }


    .content{
        margin: 3em 0 0 0;
        padding: 1.5em;
        
        //Add, Update, KKID
        .markerText, .subTitle, .categoryCheck{
            font-size: 1em;
        }

        //Declared households
        .familiesBody, .overviewBody {
            margin: 1em;
        }
        
    }  
    //KKID 
    .kkidBody  {
        .categoryCol {
            .categoryDiv{
                margin-left: 0;
            
                .categoryOption{
                    width: 100%;
                }
                
                .categoryLbl {
                    font-size: 1em;
                    margin-left: 1px;
                }
            }
            .categoryOption {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 300px) {
    //Declared Households
    .divNav .slider {
        width: 60%;
    } 
    
    //Add, Update, Declared
    #wrapper {
        padding-left: 0;
    }



    .content{
        margin: 1em 0 0 0;
        padding: 1.5em;
    }

    .fieldLabel, .educFieldLabel, .employFieldLabel, .menuTitle{
        white-space: nowrap; 
        width: 70%; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
}