@media only screen and (min-width: 200px) and (max-width: 1920px){
    .fieldLabel, .optionLink{
        white-space: nowrap; 
        width: 90%; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .divNav {
        width: 85%;
    }
    
    .qrBtn {
        width: 15%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1920px){
    .content{
        margin: 3em 3em 2em 6em;
        padding: 1em;
    }
}

@media only screen and (max-width: 820px){
    .content{
        margin: 3em 0 0 0;
        padding: 2.5em;
        
        .title {
            font-size: 1.5em;
        }
        
        .markerText, .subTitle{
            font-size: 1em;
        }
        .docPreview {
            padding-left: 0;
        }
        
        .imgHR{
            height: 0.5em;
        }
    }  
}

@media only screen and (max-width: 500px){
    .content{
        margin: 3em 0 0 0;
        padding: 1.5em;
        
        .eStatus {
            margin: 0;
            padding: 0;
        }
    }  
}