html {
  padding: 0;
}

body {
  height: 100vh;
}
body #left {
  height: 100vw;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.5s;
}
body #right {
  display: flex;
  width: 100vw;
  height: 100vh;
  transition: 0.5s;
  background-color: #04496A;
  overflow-x: hidden;
}
body #right #rc {
  height: 100vh;
  width: 40px;
  background-color: #fff;
  transition: 0.5s;
  position: fixed;
}
body #right #pageContent {
  transition: 0.5s;
  background-color: #fff;
  width: 100vw;
}

header {
  background-color: #fff;
  margin: 0;
  position: fixed;
  z-index: 15;
  width: 100vw;
  margin-left: 0;
  transition: 0.5s;
}
header #headerHR {
  background-image: linear-gradient(90deg, transparent, #FFB703);
  border: 0;
  height: 5px;
  opacity: 100;
  margin-bottom: 0;
}

.headerRow {
  margin: 2em 4em 1em 4em;
}
.headerRow .title, .headerRow .accountType {
  width: auto;
  font: 100% Poppins, sans-serif;
  color: #155675;
}
.headerRow #pageTitle {
  margin-left: 20px;
}
.headerRow .accountType {
  color: #F4895F;
  font-size: 1.2em;
  font-weight: 300;
}

th {
  font-size: 1.3em;
}

.entryRow {
  font-size: 1.2em;
  font-weight: normal;
  padding: 0.2em;
  color: #858796;
}

* {
  font: 100% DM Sans, sans-serif;
}

a {
  text-decoration: none;
}

.menuBtn {
  width: auto;
  padding: 0.3em 1em;
  background-color: white;
  border: 2px solid #155675;
  color: #155675;
  font-size: 1.1em;
  font-weight: 500;
}

.clicked {
  background-color: #155675;
  color: white;
}

.actionBtn {
  color: white;
  width: 1.7em;
  height: 1.7em;
  padding: 1px;
}

.view {
  background-color: #FFB703;
  color: white;
}

.update {
  background-color: #1d4e89;
}

.menu1 {
  margin-right: 1em;
}

.fieldLabel, .educFieldLabel, .employFieldLabel, .menuTitle, .subTitle, .accountType, .btnText, .longTitle, .minorLbl, .mcCount, .percentage {
  white-space: nowrap;
  width: 88%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sectionDiv {
  margin-top: 1em;
}

.dashCategories {
  margin-top: 4em;
}

#remarkDrop, #disabilitySelect, #filtering {
  max-width: 100%;
}

.vscomp-ele-wrapper {
  margin-top: 0;
}
.vscomp-ele-wrapper .vscomp-toggle-button {
  color: #393737;
  width: 100%;
  border: 1.5px solid #D1D3E2;
  border-radius: 6px;
  box-shadow: none;
}

.headTitle {
  background-color: #219EBC;
  color: white;
  justify-content: start;
}

.dt-buttons {
  margin-right: 2em;
}

.btn-secondary {
  max-width: 100%;
  border: none;
  background-color: #F57441;
  color: white;
}

.btn-secondary:hover, .btn-secondary:focus {
  background-color: #f0571f;
  color: white;
}

.btn-secondary:focus {
  font-weight: 500;
}

.paginate_button {
  margin: 0.1em;
}

.dataTables_paginate {
  display: flex;
  justify-content: end;
}

.dataTables_length, .dataTables_filter {
  max-height: 100%;
}
.dataTables_length label, .dataTables_filter label {
  display: flex;
  align-items: end;
}
.dataTables_length label select, .dataTables_length label input, .dataTables_filter label select, .dataTables_filter label input {
  margin: 0 0.5em;
  height: auto;
}

@media screen and (min-width: 992px) and (max-width: 7680px) {
  .mainContainer .headerRow .title {
    font-size: 3em;
    font-weight: 600;
  }
  .mainContainer .headerRow .accountType {
    font-size: 1.2em;
  }
  .content {
    width: 90%;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    padding-top: 160px;
  }
  .eStatus {
    margin-top: 1em;
    padding: 0;
  }
}
@media screen and (max-width: 991px) {
  .mainContainer .headerRow {
    margin: 2em 3em 1em 3em;
  }
  .mainContainer .headerRow #hamburger {
    margin-right: 0.8em;
    font-size: 2.2em;
  }
  .mainContainer .headerRow .title {
    font-size: 2.5em;
    font-weight: 600;
  }
  .mainContainer .headerRow .longTitle {
    font-size: 1.9em;
  }
  .mainContainer .headerRow .accountType {
    font-size: 1em;
  }
  .content {
    width: 90%;
    padding: 1em;
  }
  .category .texts .count {
    font-size: 3em;
  }
  .backBtn {
    width: 1.5em;
    height: 1.5em;
  }
  .eStatus {
    margin-top: 1em;
  }
  #educCard, #employCard {
    margin: 0;
  }
  .markerText, .subTitle {
    font-size: 1.3em;
  }
  .sortSearch {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .indexContent {
    padding: 1em;
  }
  .indexContent .card-body {
    margin: 0;
  }
  .indexContent #loginCard, .indexContent #signupCard, .indexContent #forgotPassCard {
    width: auto;
  }
}
@media screen and (max-width: 767px) {
  .mainContainer .headerRow {
    margin: 2em 2em 1em 2em;
  }
  .mainContainer .headerRow .title {
    font-size: 2.3em;
    font-weight: 600;
  }
  .content {
    width: 95%;
    padding: 1.5em;
  }
  #scanBtn {
    font-size: 1em;
  }
  #citizensCount {
    font-size: 3em;
  }
  .mc-img {
    opacity: 30%;
  }
  .markerText, .subTitle, .menuTitle {
    font-size: 1.2em;
  }
  #familiesBody, #overviewBody {
    margin: 1em;
  }
  .kkidBody .categoryCol .categoryDiv {
    margin-left: 0;
  }
  .kkidBody .categoryCol .categoryDiv .categoryOption {
    width: 100%;
  }
  .kkidBody .categoryCol .categoryDiv .categoryLbl {
    font-size: 1em;
    margin-left: 1px;
  }
  .kkidBody .categoryCol .categoryOption {
    width: 100%;
  }
  .kkidBody .categoryCol .customCategory {
    width: 100%;
  }
  .topBtnLbl {
    display: none;
  }
  .accordHead {
    color: #858796;
    font-size: 1em;
  }
  .indexContent {
    padding: 0.5em;
    margin: 0.5em;
  }
  .indexContent .card .card-body .fieldRow {
    margin: 0.3em;
  }
}
@media screen and (min-width: 431px) and (max-width: 575px) {
  .mainContainer .headerRow {
    margin: 2em 1.5em 1em 1.5em;
  }
  .mainContainer .headerRow #hamburger {
    margin-right: 0.8em;
  }
  .mainContainer .headerRow .title {
    font-size: 2.2em;
    font-weight: 600;
  }
  .content {
    padding: 1em;
  }
  .fieldLabel, .educFieldLabel, .employFieldLabel, .menuTitle {
    white-space: nowrap;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .divNav .slider {
    width: 40%;
  }
  .indexContent .card {
    width: auto;
    margin: 1em;
  }
  .indexContent .card .card-body {
    margin: 0;
    padding: 0.5em 0;
  }
  .indexContent .card .card-body .cardHead {
    font-size: 1.5em;
    margin: 0.1em;
  }
  .indexContent .card .card-body .fieldRow {
    margin: 0.3em 0.5em;
  }
  .indexContent .card .card-body .controlBtn {
    width: 8em;
    font-size: 1em;
    font-weight: 700;
  }
  .indexContent .card .card-body #forgotPassText {
    font-size: 0.6em;
  }
  .indexContent .card .card-body #signup-phrase, .indexContent .card .card-body #login-phrase {
    font-size: 0.6em;
  }
  .indexContent .card .card-body .resetPassHead {
    font-size: 7em;
    padding-left: 0.5em;
  }
}
@media screen and (max-width: 430px) {
  .mainContainer .headerRow {
    margin: 1em 0.5em;
  }
  .mainContainer .headerRow #hamburger {
    margin-right: 0.5em;
    font-size: 1.8em;
  }
  .mainContainer .headerRow .title {
    font-size: 1.95em;
    font-weight: 600;
  }
  .mainContainer .headerRow .longTitle {
    font-size: 1.5em;
  }
  .mainContainer #scanBtnTxt {
    display: none;
  }
  .mainContainer #scanIcon {
    display: flex;
  }
}
@media screen and (max-width: 332px) {
  .mainContainer .headerRow {
    margin: 1em 0.5em;
  }
  .mainContainer .headerRow #hamburger {
    font-size: 1.5em;
  }
  .mainContainer .headerRow .title {
    font-size: 1.3em;
    font-weight: 600;
  }
  .content {
    padding: 0.5em;
  }
  .markerText, .subTitle, .menuTitle {
    font-size: 1.2em;
  }
  .checkAllDiv, .deleteDiv {
    max-width: 100%;
  }
}
@media screen and (max-width: 280px) {
  .mainContainer .headerRow .longTitle {
    font-size: 1.1em;
  }
  .card {
    padding: 0.5em 0.4em;
  }
  .statusCheck {
    margin-left: 0.5em;
  }
  .markerText, .menuTitle {
    margin-left: 0.6em;
    font-size: 1.1em;
  }
}/*# sourceMappingURL=mediaquery-sidenav.css.map */