@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&display=swap");

$headings-font: Poppins, sans-serif;
$content-font: DM Sans, sans-serif;
$mid-blue: #219EBC;
$mid-yellow: #FFB703;
$light-blue: #8ECAE6;
$disabled-blue: #b0def3;
// $dark-blue: #04496A;
$dark-blue: #155675;
$dark-yellow: #FB8500;
$light-yellow: #F3CB69;
$text: #393737;
$tomato-orange: #F57441;
$fade-orange: #F4895F;  

//All pages
html {
    padding: 0;
    // background-color: rgba(178, 200, 214, 0.25);     //sidenav
}

body {
    height: 100%;
}

* {
    font: 100% $content-font;
}

//Pages with ActionButtons
.actionBtn {
    color: white;
    width: 1.7em;
    height: 1.7em;
    padding: 1px;
}

.view {
    background-color: $mid-yellow;
    color: white;
}

.update {
    background-color: #1d4e89;
}


.dashCategories {
    margin-top: 4em;
}