// Colors
$darkerBlue: #01364F;
$darkBlue: #04496A;
$blue: #246C8E;
$lightBlue: #8ECAE6;
$lightYellow: #E9C46A;
$darkGrey: #393737;
$grey: #787878;
$lightGrey: #B8BAC9;
$white: #FFFFFF;

// Fonts
$poppins: 'Poppins';
$gothamBlack: 'Gotham Black';
$inter: 'DM Sans';


// CSS
* {
    margin: 0;
    padding: 0;
}

body {
    // padding: 20px;
    .navContainer {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // padding: 20px;
        #mobNav {
            padding: 5px;
            width: fit-content;
            // height: 100%;
            background-color: $darkBlue;
            border-radius: 15px;
            .row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 5px;
                a {
                    text-decoration: none;
                    .tab {
                        height: 90px;
                        // max-width: 90px;
                        width: 80px;
                        margin: 6px;
                        border-radius: 15px;
                        background-color: $darkBlue;
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 12px, rgba(55, 79, 145, 0.25) 0px 30px 60px -12px inset, rgba(145, 145, 145, 0.3) 0px 18px 36px -18px inset;
                        .tabIcon {
                            display: flex;
                            justify-content: center;
                            padding-top: 18px;
                        }
                        .tabName {
                            display: flex;
                            justify-content: center;
                            color: $lightGrey;
                            font-family: $inter, sans-serif;
                            font-size: 11px;
                            font-weight: bold;
                            margin-top: 15px;
                            text-align: center;
                            padding-left: 10px;
                            padding-right: 10px;
                        }
                    }
                }

                .divAboutLogout {
                    // height: 90px;
                    a {
                        .aboutLogout {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 80px;
                            height: 40px;
                            margin: 6px;
                            border-radius: 15px;
                            background-color: $blue;
                            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 12px, rgba(55, 79, 145, 0.25) 0px 30px 60px -12px inset, rgba(145, 145, 145, 0.3) 0px 18px 36px -18px inset;
                            .tabName {
                                display: flex;
                                justify-content: center;
                                color: #e3e3e9;
                                font-family: $inter, sans-serif;
                                font-size: 11px;
                                font-weight: bold;
                                text-align: center;
                            }
                            .tabIcon {
                                // width: 15px;
                                // height: 15px;
                                margin-left: 5px;
                                img {
                                    // width: inherit;
                                    // height: inherit;
                                }
                            }
                        }
                    }

                    a:hover {
                        .aboutLogout {
                            background-color: $darkerBlue;
                            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 12px, rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                            transition: 0.4s ease;
                        }
                    }
    
                    a:focus {
                        .aboutLogout {
                            background-color: $darkerBlue;
                            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                            transition: 0.4s ease;
                            .tabName {
                                color: $white;
                            }
                        }
                    }
                }

                a:hover {
                    .tab {
                        background-color: $darkerBlue;
                        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 12px, rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                        transition: 0.4s ease;
                    }
                }

                a:focus {
                    .tab {
                        background-color: $darkerBlue;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                        transition: 0.4s ease;
                        .tabName {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}