$font-stack: Poppins, sans-serif;
$mid-blue: #219EBC;
$mid-yellow: #FFB703;
$light-blue: #8ECAE6;
$dark-blue: #04496A;
$dark-yellow: #FB8500;
$light-yellow: #F3CB69;
$text: #393737;


#modalAdded, #modalUpdated {
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
}

#modalView {
    margin: auto;
    color: $text;
    
    .modal-header {
        background-color: $dark-blue;
        color: white;
        
    }

    .modal-body{
        margin: 1em 0.5em;
        padding: 3em;
        
        .textName {
            font-size: 2em;
            font-weight: bold;
            color: $mid-blue;
        }
        
        .textAge, .textGender {
            font-size: normal;
            font-weight: normal;
            
        }
        
        .imgContainer {
            width: 100%;
            height: auto;
        }
        
        .markerContainer {
            background-color: $mid-yellow;
        }
        .modalMarker {
            color: white;
        }
        
        .modalLabel {
            font-size: small;
            font-weight: normal;
            color: #888;
            width: 100%;
        }
        
        .textRetrieved {
            font-size: 1.2em;
            font-weight: 500;
        }
    }
}

@media only screen and (max-width: 768px) {
    .modalLabel, .textRetrieved {
        white-space: nowrap; 
        width: 100%; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }
}

.modalAlert {
    font-size: 1.5em;
    font-weight: 500;
    color: $text;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 5;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
  
.checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 5;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}
  
.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
  
@keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scaled(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 50px #7ac142;
    }
}
