$headings-font: Poppins, sans-serif;
$content-font: DM Sans, sans-serif;
$mid-blue: #219EBC;
$mid-yellow: #FFB703;
$light-blue: #8ECAE6;
$disabled-blue: #b0def3;
$white: #fff;
$dark-blue: #155675;;
$dark-yellow: #FB8500;
$light-yellow: #F3CB69;
$text: #393737;
$tomato-orange: #F57441;
$fade-orange: #F4895F;  
$headerBG: #ECF1F5;
$bodyBG: #04496A;

//All pages
html {
    padding: 0;
}

body {

    background-color: $bodyBG;
    #left {
        height: 100vw;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow: hidden;
        transition: 0.5s;
    }
    #right {
        display: flex;
        width: 100vw;
        height: 100vh;
        transition: 0.5s;
        background-color: $bodyBG;
        overflow-x: hidden;
        #rc {
            height: 100vh;
            width: 40px;
            background-color: $white;
            transition: 0.5s;
            position: fixed;
            #grey {
                width: inherit;
                background-color: $headerBG;
                transition: 0.5s;
            }
        }
        #pageContent {
            transition: 0.5s ease;
            background-color: $white;
            width: 100%;
            height: 100%;
            margin-left: 20px;
            .mainContainer {
                // height: auto;
                // background-color: $white;
                .content {
                    height: auto;
                    width: auto;
                }
            }
        }
    }
}

header {
    background-color: $headerBG;
    position: fixed;
    z-index: 15;
    width: 100vw;
    margin-left: 0;
    transition: 0.5s;
    #headerHR {
        background-image: linear-gradient(90deg, $light-blue, $mid-yellow);
        border: 0;
        height: 5px;
        opacity: 100;
        margin-bottom: 0;
        margin-left: -20px;
        transition: 0.5s;
    }
}

.headerRow {
    display: flex;
    #pageTitle {
        margin-left: 20px;
    }

    #divAccountType {
        padding-left: 350px;
        transition: 0.5s;

    }
}

@media screen and (min-width:992px) and (max-width:7680px){ //LG
     //All pages

    #grey {
        height: 123px;
    }
    .mainContainer {
        .headerRow {
            // margin: 0 2.5em;
        
            .title {
                font-size: 3em;
                font-weight: 600;
            }
        
            .accountType {
                font-size: 1.2em;
            }
        }
    }

    .content {
        background-color: $white;
        padding-left: 80px;
        padding-right: 120px;
        padding-bottom: 2em;
        padding-top: 160px;
    }
}


@media screen and (max-width: 991px) {          // MD
    //All pages
    #grey {
        height: 98px;
    }
}