// Colors
$darkerBlue: #01364F;
$darkBlue: #04496A;
$darkGrey: #393737;
$grey: #787878;
$white: #FFFFFF;

// CSS
* {
    margin: 0;
    padding: 0;
    // font-family
}
@media screen and (min-width:1367px) {
    #listProfile {
        margin-top: 415px;
    }
            // #listLogOut {
            //     margin-top: 15px;
            // // padding: 0;
            // }
}
@media screen and (max-width:1366px) and (min-width:769px) {
    #listProfile {
        margin-top: 215px;
            }
            // #listLogOut {
            //     margin-top: 220px;
            // // padding: 0;
            // }
        }
        @media screen and (max-width:768px) and (min-width:481px) {
            // #listProfile {
            //     margin-top: 215px;
            // }
            // #listLogOut {
            //     margin-top: 220px;
            // // padding: 0;
            // }
            .sidebar{
                display: none;
            }
        }
        @media screen and (max-width:480px) {
            .sidebar{
                display: none;
            }
            // #listProfile {
            //     margin-top: 215px;
            // }
            // #listLogOut {
            //     margin-top: 220px;
            // // padding: 0;
            // }
        }
body {
    background: $white;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    
    .sidebar {
        background: $darkBlue;
        height: 100%;
        width: 74px;
        transition: all 0.5s ease;
        // padding: 6px 14px;
        
        .hamburger {
            .btn {
                padding: 0;
                border: none;
                box-shadow: none;
                
                
            }
        }
        hr {
            height: 2px;
        // width: 100%;
            border-width: 0px;
            color: $grey;
            background-color: $grey;
        }
        ul {
            margin-top: 19px;
            padding: 0; //not sure pa
            li {
                position: relative;
                list-style: none;
                width: 100%;
                height: 61px;
                line-height: 61px;
                a{
                    color: $white;
                    display: flex;
                    align-item: center;
                    text-decoration: none;
                    font-size: 25px;
                    transition: all 0.4s ease;
                    overflow: hidden;
                    white-space: nowrap;
                    .divIcon {
                        // width: 100%;
                        padding-left: 11px;
                        img {
                        // height: 61px;
                        // min-width: 50px;
                        // line-height: 61px;
                        
                        padding: 10px;
                        } 
                    }
                    .divTab {
                        .tabName {
                        // height: 61px;
                        // min-width: 50px;
                        // line-height: 61px;
                        
                        margin-left: 12px;
                        } 
                    }
                }
                a:hover {
                    background: $white;
                    color: $darkGrey;
                    // font-weight: 500;
//                     #img { 
//                     }
                }
                a:focus {
                    background: $white;
                    color: $darkGrey;
                    // font-weight: 500;
//                     #img { 
//                     }
                }
                
            }
            #listProfile {
                
                .divProfile {
                    background: $darkerBlue;
                    position: absolute;
                    color: $white;
                    width: inherit;
                    .profile {
                        position: relative;
                        height: 71px;
                        .profileContent {
                            display: flex;
                            align-items: center;
                            .divProfilePic {
                                padding-left: 12px;
                                padding-top: 2px;
                                // img {
                            
                                // }
                            }
                            .divAdmin {
                                margin-left: 12px;
                                .spanProfile {
                                    font-size: 25px;
                                    line-height: 10px;
                                    overflow: hidden;
                                    white-space: nowrap;
                                }
                            }
                        }
                    }
                }
            }
            #listLogOut {
                margin-top: 15px;
            // padding: 0;
            }
    }

    }
    // .page_content {
    //     position: absolute;
    //     height: 100%;
    //     width: calc(100%-309px);
    //     left: 309px;
    //     span {
    //         font-size: 50px;
    //         overflow: hidden;
    //         white-space: nowrap;
    //     }
    // }
    
    .sidebar.active {
        width: 309px;
    }
}