//Colors
$darkerBlue: #01364F;
$darkBlue: #04496A;
$darkGrey: #393737;
$grey: #787878;
$white: #FFFFFF;



//SCSS
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}

body {
    hr {
        margin: 0px;
        height: 3px;
        border-width: 0px;
        color: $grey;
        background-color: $grey;
        line-height: 0px;
    }//hr
                                                                //SideNav
    #checkSide {
        display: none;
    }//checkSide
    #checkTop {
        display: none;
    }
    .divSideNav {
        height: 100vh;
        background: $darkBlue;
        transition: all 0.4s ease;
        position:relative;
        overflow: hidden;
        white-space: nowrap;
        #top {
            margin-bottom: 40px;
        }
        a {
            color: $white;
            text-decoration: none;
            // font-size: 25px;
            display: flex;
            align-items: center;
            overflow: hidden;
            white-space: nowrap;
            
            .divSideTab {
                // height: 61px;
                display: flex;
                align-items: center;
            
                img {
                    padding: 8px;
                    // margin-left: 13px;
                    margin-right: 14px;
                }//img

            }//divSideTab
        }//a
        
        a:hover {
            color: $darkGrey;
            background: $white;
            text-decoration: none;
            transition: 0.4s ease;
            
        }
        
        a:focus {
            color: $darkGrey;
            background: $white;
            text-decoration: none;
        }
        
        .bottomPartSideNav {
            position:absolute; bottom:0;
            margin-bottom: 10px;
            width: inherit;
            #divSideProfile {
                height: 61px;
                color: $white;
                background: $darkerBlue;
                display: flex;
                align-items: center;
                .profile {
                    .profileContent {
                        display: flex;
                        align-items: center;
                        img {
                            // padding-left: 12px;
                            margin-right: 18px;
                        }
                    }
                }
            }//divSideProfile
        }//bottomPartSideNav
    }//divSideNav
                                                            //topNavTablet
    #topNav {
        width: 100vw;
        background: $darkBlue;
        
    }//tabletNav
    .divNavMenu {
        width: 100vw;
        height: 0px;
        background: $darkBlue;
        overflow: hidden;
        white-space: nowrap;
        
        a {
            text-decoration: none;
            color: $white;
            position: relative;
            background: $darkBlue;
            .divTopTab {
                display: flex;
                align-items: center;
                padding-top: 5px;
                padding-bottom: 5px;
                img {
                    margin-left: 30px;
                    
                }
                span {
                    margin-left: 10px;
                    display: flex;
                    width: 100%;
                    padding-right: 10px;
                    #spanLogOut {
                        margin-left: 0px;
                    }
                    #adminTopNav {
                        background: $darkerBlue;
                        // color: $grey;
                        border-radius: 4px;
                        margin-right: 10px;
                        width: 85px;
                        height: 24px;
                        padding-right: 4px;
                        align-items: center;
                        justify-content: center;
                        font-weight: normal;
                    }
                }
                
            }
            
        }//a
        a:hover {
            color: $darkGrey;
            text-decoration: none;
            transition: 0.3s ease;
            .divTopTab {
                background: $white;
                transition: 0.3s ease;
                span {
                    #adminTopNav {
                        color: $white;
                    }
            }
        }
        a:focus {
            color: $darkGrey;
            text-decoration: none;
            .divTopTab {
                background: $white;
                }
            }
        }
    }//divNavTablet
}//body