$headings-font: Poppins, sans-serif;
$content-font: DM Sans, sans-serif;
$mid-blue: #219ebc;
$mid-yellow: #ffb703;
$light-blue: #8ecae6;
$disabled-blue: #b0def3;
// $dark-blue: #04496A;
$dark-blue: #155675;
$dark-yellow: #fb8500;
$light-yellow: #f3cb69;
$text: #393737;
$tomato-orange: #f57441;
$fade-orange: #f4895f;


i {
    width: auto;
    height: auto;
}

// .tableKabataan{
//     background-color: $dark-blue;
//     color: white; 
// }

// .tableResident{
//     background-color: #1d4e89;
//     color: white; 
// }