$font-stack: Poppins, sans-serif;
$font-stack-sub: DM Sans, sans-serif;
$mid-blue: #219EBC;
$mid-yellow: #FFB703;
$light-blue: #8ECAE6;
$dark-blue: #04496A;
$dark-yellow: #FB8500;
$light-yellow: #F3CB69;
$text: #393737;


i {
    width: auto;
    height: auto;
}
// .tableKabataan{
//     background-color: $dark-blue;
//     color: white; 
// }

// .tableResident{
//     background-color: #1d4e89;
//     color: white; 
// }