* {
  color: #393737;
}

.expanded {
  position: fixed;
  padding: 0;
  background-color: #f6f4f5;
  width: 17%;
  height: 100vh;
  z-index: 1;
  overflow-y: auto;
}

.settingsPanel, .sidePanel {
  padding: 2em 3.5em 2em 2em;
  background: none;
}

.shrunk {
  display: none;
  width: 0;
  height: 0;
}

.backIcon {
  color: #393737;
}

.sideTitle {
  color: #393737;
  font-size: 20px;
  font-weight: 500;
}

.adminImg {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.adminName {
  color: #393737;
  font-size: 24px;
  font-weight: 700;
}

.adminType {
  color: #707070;
  font-size: 16px;
  font-weight: 400;
}

hr {
  width: 90%;
  float: center;
}

.settingsCategory {
  color: #393737;
  font-size: 18px;
  font-weight: 700;
}

hr {
  width: 100%;
}

a,
.fa-caret-down,
#darkMode {
  color: #707070;
}

a {
  text-decoration: none;
  width: 100%;
}

a:hover {
  color: #219ebc;
}

#darkMode:hover {
  font-weight: 500;
  color: #393737;
}

.active {
  color: #219ebc;
  font-weight: 700;
}

li {
  margin-left: -15px;
  list-style-type: none;
}

.mainContainer {
  position: absolute;
  background-color: white;
  border-radius: 30px 0 0 30px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  width: 85%;
  height: 100vh;
  float: right;
  padding: 2em;
  z-index: 5;
  left: 15%;
  overflow-x: hidden;
}
.mainContainer .mainTitle {
  font-size: 20px;
  color: #393737;
  width: 100%;
}

.full-width {
  position: absolute;
  background-color: white;
  border-radius: none;
  box-shadow: none;
  width: 100%;
  height: 100vh;
  float: right;
  padding: 40px;
  z-index: 5;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.content {
  width: 95%;
  z-index: 3;
}

.sectionDiv {
  padding: auto;
  margin-top: 50px;
}

.question {
  color: #219ebc;
  font-weight: bold;
}

.compatability, tr {
  border: 1px solid rgba(0, 0, 0, 0.116);
  border-left: none;
  border-right: none;
  border-collapse: collapse;
  width: 100%;
}

.device {
  font-weight: bold;
}

.member {
  color: #219ebc;
  font-weight: bold;
}

.contact-link {
  font-size: small;
  color: #155675;
}

.contact-link:hover {
  color: #219ebc;
}

i {
  color: #ffb703;
}

table th {
  color: #393737;
  font-weight: 500;
}
table tr {
  vertical-align: center;
}
table td {
  vertical-align: center;
}

.profilePic {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nameCell {
  width: 100%;
}

.rowName {
  font-weight: 400;
  color: #393737;
  width: 100%;
}

s .adminEmail {
  font-size: 14px;
}

.adminHead {
  font-size: 18px;
}

.online,
.offline {
  font-size: 16px;
  background-color: rgba(0, 242, 0, 0.2);
  color: rgb(0, 187, 0);
  padding: 8px;
  width: 80px;
}

.online-dot,
.offline-dot {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: rgb(0, 187, 0);
}

.offline-dot {
  background-color: #505050;
}

.offline {
  background-color: rgba(147, 147, 147, 0.5);
  color: #505050;
}

#onlineTxt {
  color: rgb(0, 187, 0);
  width: auto;
}

#offlineTxt {
  color: #505050;
  width: auto;
}

.deleteIcon,
.editIcon {
  color: white;
}

.modal-backdrop {
  z-index: -1;
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}/*# sourceMappingURL=settings.css.map */