$headings-font: Poppins, sans-serif;
$content-font: DM Sans, sans-serif;
$mid-blue: #219ebc;
$mid-yellow: #ffb703;
$light-blue: #8ecae6;
$disabled-blue: #b0def3;
// $dark-blue: #04496A;
$dark-blue: #155675;
$dark-yellow: #fb8500;
$light-yellow: #f3cb69;
$text: #393737;
$tomato-orange: #f57441;
$fade-orange: #f4895f;

* {
  font-family: $content-font;
  color: $text;
}

.sideNav,
.expanded {
  position: fixed;
  padding: 0;
  background-color: $dark-blue;
  width: 17%;
  height: 100vh;
  z-index: 1;
  overflow-y: auto;
}

//side menu page
.sideNav {
  padding: 0.5em 3.5em 2em 2em;
  background: $dark-blue;
}

.shrunk {
  display: none;
  //   position: relative;
  width: 0;
  height: 0;
}

#logoContainer {
  width: 55px;
  height: 55px;
}

#logoTxt {
  margin-left: 10px;
  width: auto;
  font-family: "Gotham Black";
  color: white;
  font-size: 40px;
  font-weight: 700;
}

hr {
  color: #b8bac9;
}

a {
  text-decoration: none;
  color: #b8bac9;
}

a:hover {
  color: $light-yellow;
}

.nav-active {
  color: $light-blue;
  font-weight: 700;
}

.iconContainer {
  width: 30px;
  height: 30px;
}

.icon,
.linkTitle {
  font-size: 25px;
  color: #b8bac9;
}

.linkTitle {
  font-size: 18px;
  font-family: "Inter";
  font-weight: 500;
}

#botOptions {
  margin-top: 180px;
}

footer {
  position: absolute;
  bottom: 0;
}

//Main Container (open-nav)
.mainContainer {
  position: absolute;
  background-color: white;
  border-radius: 30px 0 0 30px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  width: 85%;
  height: 100vh;
  float: right;
  padding: 2em;
  z-index: 5;
  left: 15%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.5s;
}

.full-width {
  position: absolute;
  background-color: white;
  border-radius: none;
  box-shadow: none;
  width: 100%;
  height: 100vh;
  float: right;
  padding: 2em;
  z-index: 5;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.5s;
}

header {
  background-color: rgba(178, 200, 214, 0.25);
  width: 100%;
  height: 115px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
}

#headerRow {
  vertical-align: middle;
  padding: 38px 42px;

  #hamburger,
  #close,
  .pageTitle {
    color: $dark-blue;
    font-size: 24px;
  }

  .pageTitle {
    font-family: $content-font;
    font-weight: 500;
    font-size: 26px;
  }

  .accountType {
    color: $tomato-orange;
  }
}

#headerHR {
  background-image: linear-gradient(90deg, $light-blue, $mid-yellow);
  border: 0;
  height: 5px;
  opacity: 100%;
  margin-top: 0;
  transition: 0.5s;
}

.content {
  width: 95%;
  margin-top: 120px;

  // MultiSelect
  .vscomp-ele-wrapper {
    margin-top: 0;

    .vscomp-toggle-button {
      color: $text;
      width: 100%;
      border: 1.5px solid #d1d3e2;
      border-radius: 6px;
      box-shadow: none;
    }
  }

  #remarkDrop,
  #disabilitySelect,
  #filtering {
    max-width: 100%;
  }
}

// Pages with menu buttons
.menuBtn {
  width: 115px;
  padding: auto;
  height: 35px;
  background-color: white;
  border: 2px solid $dark-blue;
  color: $dark-blue;
  font-size: 1.1em;
  font-weight: 500;
}

.menu-active {
  background-color: $dark-blue;
  color: white;
}

//DataTables Config
.btn-secondary,
.btn-group {
  max-width: 100%;
  border: none;
  background-color: $tomato-orange;

  span {
    color: white;
  }
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #f0571f;
}

.btn-secondary:focus {
  font-weight: 500;
}

//Paginate group
ul.pagination {
  width: auto;
  float: right;
  margin-right: -2px;
}
.paginate_button {
  margin-right: 3px;
}

.dataTables_length,
.dataTables_filter {
  max-height: 100%;
  label {
    display: flex;
    align-items: center;

    select,
    input {
      margin: 0 5px;
      max-width: 100%;
      height: 100%;
    }
  }
}

.dataTables_filter {
  label {
    max-width: 100%;

    input {
      width: 100%;
    }
  }
}

// HTML TABLE
.tblHeadRow {
    background-color: $mid-blue;
    color: white;
    justify-content: start;

    .tblHead {
        font-size: 18px;
        color: white;
      }
  }
