* {
  margin: 0;
  padding: 0;
}

body .navContainer {
  background-color: #04496A;
  width: 320px;
  height: 100vh;
  display: flex;
  padding: 0;
  overflow: hidden;
}
body .navContainer #sideNav {
  width: inherit;
}
body .navContainer #sideNav .logoDiv {
  display: flex;
  justify-content: center;
  padding-top: 45px;
}
body .navContainer #sideNav .logoDiv span {
  font-family: "Gotham Black";
  font-size: 40px;
  font-weight: bold;
  margin-left: 10px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}
body .navContainer #sideNav #navHR {
  width: 258px;
  height: 2px;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 35px;
  border: 0;
  background: #FFFFFF;
  height: 1px;
}
body .navContainer #sideNav .navLink {
  margin-left: 13px;
  margin-top: 55px;
}
body .navContainer #sideNav .navLink a {
  text-decoration: none;
}
body .navContainer #sideNav .navLink a .tab {
  display: flex;
  align-items: center;
  height: 56px;
  width: 327px;
  margin-bottom: 5px;
  border-radius: 15px 0 0 15px;
  background-color: #04496A;
}
body .navContainer #sideNav .navLink a .tab .tabIcon img {
  margin-left: 15px;
}
body .navContainer #sideNav .navLink a .tab .tabName {
  color: #B8BAC9;
  font-size: 35px;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
}
body .navContainer #sideNav .navLink a:hover .tab {
  background-color: #01364F;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: 0.4s ease;
}
body .navContainer #sideNav .navLink a:hover .tab .tabName {
  color: #FFFFFF;
}
body .navContainer #sideNav .navLink a:focus .tab {
  background-color: #01364F;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transition: 0.4s ease;
}
body .navContainer #sideNav .navLink a:focus .tab .tabName {
  color: #FFFFFF;
}
body .navContainer #sideNav #bottomNav a {
  text-decoration: none;
  display: flex;
  justify-content: center;
}
body .navContainer #sideNav #bottomNav a #aboutBtn, body .navContainer #sideNav #bottomNav a #logOutBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 44px;
  border-radius: 15px;
  background-color: #246C8E;
  margin-bottom: 20px;
  transition: transform 0.11s;
}
body .navContainer #sideNav #bottomNav a #aboutBtn .tabName, body .navContainer #sideNav #bottomNav a #logOutBtn .tabName {
  color: #e3e3e9;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
}
body .navContainer #sideNav #bottomNav a #aboutBtn .tabIcon, body .navContainer #sideNav #bottomNav a #logOutBtn .tabIcon {
  margin-left: 10px;
}
body .navContainer #sideNav #bottomNav a:hover #aboutBtn, body .navContainer #sideNav #bottomNav a:hover #logOutBtn {
  background-color: #01364F;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 12px;
  transition: 0.4s ease;
}
body .navContainer #sideNav #bottomNav a:hover #aboutBtn .tabName, body .navContainer #sideNav #bottomNav a:hover #logOutBtn .tabName {
  color: #FFFFFF;
}
body .navContainer #sideNav #bottomNav a:focus #aboutBtn, body .navContainer #sideNav #bottomNav a:focus #logOutBtn, body .navContainer #sideNav #bottomNav a:active #aboutBtn, body .navContainer #sideNav #bottomNav a:active #logOutBtn {
  background-color: #01364F;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transition: 0.4s ease;
}
body .navContainer #sideNav #bottomNav a:focus #aboutBtn .tabName, body .navContainer #sideNav #bottomNav a:focus #logOutBtn .tabName, body .navContainer #sideNav #bottomNav a:active #aboutBtn .tabName, body .navContainer #sideNav #bottomNav a:active #logOutBtn .tabName {
  color: #FFFFFF;
}
body .navContainer .roundedCorner {
  height: 100vh;
  width: 40px;
  background-color: #FFFFFF;
  border-radius: 40px 0 0 40px;
}

@media screen and (min-width: 769px) {
  #bottomNav {
    margin-top: 230px;
  }
}
@media screen and (max-width: 768px) and (min-width: 501px) {
  #bottomNav {
    margin-top: 50px;
  }
}/*# sourceMappingURL=sidenav.css.map */