$font-stack: Poppins, sans-serif;
$font-stack-sub: DM Sans, sans-serif;
$mid-blue: #219EBC;
$mid-yellow: #FFB703;
$light-blue: #8ECAE6;
$disabled-blue: #b0def3;
$dark-blue: #04496A;
$dark-yellow: #FB8500;
$light-yellow: #F3CB69;
$text: #393737;

* { 
    font: 100% $font-stack-sub;
}

// input[type=checkbox]{
//     margin: 0;
//     height: 100%;
//     width: auto;
// }

.topBtnLbl {
    color: $text;
    font-size: 1.3em; 
    font-weight: normal;
}

.checkAllDiv, .deleteDiv {
    width: 5.5em;
    margin: 0;
    padding: 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    // #selectAll {
    //     position: relative;
    //     outline: 2px solid #707070;
    //     width: 1.2em;
    //     height: 1.2em;
    // }
}

.fa-trash-can, .fa-square-check {
    color: #707070;
}

.checkAllDiv:hover, .deleteDiv:hover, .checkAllDiv:focus, .deleteDiv:focus {
    background: #EAECF4;
}

.tHead {
    width: 30%;
    color: $text;
    font-size: 1.3em;
    font-weight: 500;

    #checkEntry {
        width: 10%;
    }
}

.entryRow {
    font-size: 1.3em;
    font-weight: normal;
    padding: 0.2em;
    color: #858796;
}

.checkItem {
    z-index: 99;
    padding: 0;
    margin: 0;
    width: 1em;
    height: 1em;
}

 
.accordion-item {
    
    .accordion-header {
        overflow:hidden;

        .checkDiv{
            width: 4em;
            background-color: #EAECF4;
            // border-radius: 6px 0 0 6px
        }
        .accordHead {
            color: #858796;
            font-size: 1.3em;
        }
    }
}

.transactInfo {
    margin-left: 2em;
}