.documentHeadingRow {
  width: 100%;
  margin: 0;
}

.divNav {
  background-color: #219EBC;
  border-radius: 15em 0 0 15em;
  height: auto;
  width: 90%;
  border: none;
}
.divNav .linkContainer {
  height: inherit;
  padding: 0.5em;
  width: 50%;
  height: 98%;
  overflow: hidden;
  border-radius: 15em;
  background-color: white;
}
.divNav .linkContainer .optionLink {
  font: 100% DM Sans, sans-serif;
  text-decoration: none;
  color: #219EBC;
  font-weight: bold;
}

.qrBtn {
  border: none;
  border-radius: 0 15em 15em 0;
  width: 10%;
  padding: 5px;
  height: inherit;
  background-color: #04496A;
}
.qrBtn .qrIcon {
  width: 100%;
  heigt: 100%;
  color: white;
}

.documentBody {
  padding: 0;
  margin: 2em 0;
}
.documentBody .subTitle {
  font: 100% DM Sans, sans-serif;
  font-size: 1.5em;
  color: #393737;
  font-weight: 500;
}
.documentBody .categoryCheck {
  font-size: 1.3em;
}
.documentBody .userInput {
  width: 95%;
}

.previewContainer {
  width: 80%;
  height: auto;
  border-radius: 1em;
  border: none;
}

.controlButtons {
  width: 6em;
}

.fieldLabel {
  font: Poppins, sans-serif;
  color: #909090;
  margin-bottom: 0.2em;
  font-weight: 500;
}

.userInput {
  height: 2.5em;
}

.idFilter {
  width: 30%;
}