* {
  font: 100% DM Sans, sans serif;
}

.documentHeadingRow {
  width: 100%;
  margin: 0;
}
.documentHeadingRow .optionCol {
  margin: auto;
  padding: 0;
}

.title {
  width: 100%;
  height: 100%;
  color: #393737;
  font-weight: 800;
  font-size: 2em;
}

.optionWrapper {
  display: block;
  width: 100%;
  height: 3em;
  background-color: #219EBC;
  border-radius: 15em;
  border: none;
  z-index: 1;
}

.options {
  color: white;
  font-size: 1em;
  cursor: pointer;
  z-index: 5;
  border: none;
  transition: 0.3s;
  border-radius: 15em;
}

.qrScannerBtn {
  position: relative;
  padding: 0.5em 1em;
  background: #04496A;
  border-radius: 0 15em 15em 0;
  border: none;
}
.qrScannerBtn .qrIcon {
  width: 100%;
  height: 100%;
  color: white;
}

.qrScannerBtn:hover {
  background-color: white;
}
.qrScannerBtn:hover .qrIcon {
  color: #04496A;
}

.qrScannerBtn:focus {
  background: black;
}

.qrScannerBtn:focus > .qrIcon {
  color: #FFB703;
}

.options:active, .options:focus {
  color: #219EBC;
  font-weight: bold;
  background-color: white;
}

.generateBody {
  padding: 0;
  margin: 2em 0;
}
.generateBody .subTitle {
  font-size: 1.2em;
  color: #393737;
  font-weight: 600;
}
.generateBody .userInput {
  width: 95%;
}

.previewContainer {
  width: 80%;
  height: auto;
  border: 0.5px solid #393737;
}

.controlButtons {
  width: 6em;
}

.fieldLabel {
  font: DM Sans, sans serif;
  color: #909090;
  margin-bottom: 0.2em;
  font-weight: 500;
}

.userInput {
  height: 2.5em;
}

.idFilter {
  width: 30%;
}