* {
  font: 100% DM Sans, sans serif;
}

.documentHeadingRow {
  width: 100%;
  margin: 0;
}
.documentHeadingRow .title {
  width: 100%;
  height: 100%;
  color: #393737;
  font-weight: 800;
  font-size: 3em;
}

.divNav {
  background-color: #219EBC;
  border-radius: 15em 0 0 15em;
  height: auto;
  width: 90%;
  border: none;
}
.divNav .linkContainer {
  height: inherit;
  padding: 0.5em;
  width: 50%;
  height: 98%;
  overflow: hidden;
  border-radius: 15em;
  background-color: #F3CB69;
}
.divNav .linkContainer .optionLink {
  text-decoration: none;
  color: white;
}

.qrBtn {
  border-radius: 0 15em 15em 0;
  width: 10%;
  padding: 5px;
  height: inherit;
  background-color: #04496A;
}
.qrBtn .qrIcon {
  width: 100%;
  heigt: 100%;
  color: white;
}

.referral {
  padding: 0;
  margin: 2em 0;
}
.referral .subTitle {
  font-size: 1.2em;
  color: #393737;
  font-weight: 500;
}
.referral .userInput {
  width: 95%;
}

.previewContainer {
  width: 80%;
  height: auto;
  border: 0.5px solid #393737;
}

.controlButtons {
  width: 6em;
}

.fieldLabel {
  font: DM Sans, sans serif;
  color: #909090;
  margin-bottom: 0.2em;
  font-weight: 500;
}

.userInput {
  height: 2.5em;
}

.idFilter {
  width: 30%;
}