body {
    /* display: flex; */
    position: relative;
    text-decoration: none;
}

.navDiv {
    position: fixed;
    z-index: 99;
    
}

.navDiv .divSideNav #linkSideDash, .navDiv .divNavMenu #linkTopDash {
    background: white;
    color: #393737;
}

.pageContent {
    /* z-index: 0; */
    position: absolute;
    
}

