.heading {
  margin-left: 20px;
}

#title {
  margin-left: 80px;
  margin-top: 30px;
}

hr {
  margin-left: 85px;
  width: 15%;
  color: inherit;
  background: #8ECAE6;
  background: -webkit-linear-gradient(to right, #8ECAE6, #FFB703);
  background: -o-linear-gradient(to right, #8ECAE6, #FFB703);
  background: -moz-linear-gradient(to right, #8ECAE6, #FFB703);
  background: linear-gradient(to right, #8ECAE6, #FFB703);
  border: 5px;
  padding: 3px;
  opacity: 0.75;
}

#SelDel {
  margin-left: 20px;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-left: 80px;
}

#row-title {
  text-align: center;
}

#action-col {
  margin-left: 80px;
}

.btn {
  background-color: white;
  border: 1px solid white;
  width: 90px;
}

.delete:hover {
  background-color: white !important;
  border-shadow: 0 0 1px blue inset;
}

.form-check {
  width: 90px;
}

body::-webkit-scrollbar {
  width: 10px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: white;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #c9c9c9;
  /* creates padding around scroll thumb */
}