// Colors
$darkerBlue: #01364F;
$darkBlue: #04496A;
$darkGrey: #393737;
$white: #FFFFFF;
//Screen size
// $large: 1920px;
// $medium: 768px;
// $small: 480px;


// CSS
* {
    margin: 0;
    padding: 0;
    // font-family
}
body {
    background: $white;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    .sidebar {
        background: $darkBlue;
        height: 100%;
        width: 74px;
        transition: all 0.3s ease;
        @media screen and (max-width: 1920px) and (min-width: 769px) {
        }
        @media screen and (max-width: 768px) and (min-width: 481px) {
            visibility: hidden;
        }
        @media screen and (max-width: 768px) {
            visibility: hidden;
        }
        .hamburger {
            .btn {
                padding: 0;
                border: none;
                box-shadow: none;
                
                
            }
        }
        ul {
            margin-top: 19px;
            padding: 0; //not sure pa
            li {
                position: relative;
                list-style: none;
                width: 100%;
                height: 61px;
                line-height: 61px;
                a{
                    color: $white;
                    display: flex;
                    align-item: center;
                    text-decoration: none;
                    font-size: 25px;
                    transition: all 0.3s ease;
                    overflow: hidden;
                    white-space: nowrap;
                    .divIcon {
                        padding-left: 11px;
                        img {
                        padding: 10px;
                        } 
                    }
                    .divTab {
                        .tabName {
                        margin-left: 12px;
                        } 
                    }
                }
                a:hover {
                    background: $white;
                    color: $darkGrey;
                }
                a:focus {
                    background: $white;
                    color: $darkGrey;
                }
                #linkLogOut {
                        margin-top: 15px;
                }
            }
            #listItemProfile {
                margin-top: 415px;
                
                .divProfile {
                    position: absolute;
                    color: $white;
                    width: inherit;
                    @media screen and (max-width: 1920px) and (min-width: 769px) {
                    }
                    @media screen and (max-width: 768px) and (min-width: 769px) {
                        display: none;
                    }
                    @media screen and (max-width: 768px) {
                        display: none;
                    }
                    .profile {
                        position: relative;
                        height: 71px;
                        .profileContent {
                            display: flex;
                            align-items: center;
                            .divProfilePic {
                                padding-left: 12px;
                                padding-right: 12px;
                                padding-top: 3px;
                                padding-bottom: 7px;
                                background: $darkerBlue;
                            }
                            .divAdmin {
                                padding-top: 3px;
                                padding-bottom: 7px;
                                background: $darkerBlue;
                                width: 309px;
                                overflow: hidden;
                                white-space: nowrap;
                                .spanProfile {
                                    font-size: 25px;
                                    line-height: 10px;
                                }
                            }
                        }
                    }
                }
            }
            
        }

    .sidebar.active {
        width: 309px;
    }
}
}